Source: mafw-iradio-source
Section: misc
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
	       libglib2.0-dev,
	       libmafw0-dev, checkmore, libxml2-dev,
	       maemo-system-services-dev
Standards-Version: 3.7.2

Package: mafw-iradio-source
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MAFW internet radio source
 Radio source for MAFW internet.

